.ll{
    padding:7px;
    font-family:'Gurajada';
}

.ll>button{
    border-radius: 25px;
    background-color:black;
    color: White;
    transition: 0.5s;
}

.ll>button:hover{
    background-color: #6BFF33;
    color:black;
}


.w{
    padding:10px;
}
.w>img{
    padding:10px;
    width:205px !important;
    height:205px !important;
    border:3px solid black;
}