.eco{
    background-color: #F2ECEC;
}

.eco>h1{
    font-family: 'Gurajada';
    font-size: 85px;
    display: flex;
    justify-content: center;
}

.point{
    font-family: 'Gurajada';
    display: flex;
    justify-content: flex-end;
    margin-right: 50px; 
    color: black;
    text-decoration:none;
    transition: 0.5s;
}

.point:hover{
    color: #00FF46;
    cursor: pointer;
}

.point>h5{
    font-size: 35px;
}

.ei{
   display:inline-flex;
   text-decoration: none;
}

.uai{
    margin: 14px;
}

.uai>img{
    width: 370px !important;
    height: 250px !important;
    border-radius:25px;
}

.uai>h5{
    margin: 15px;
    color: black;
}

.oa{
    display: inline-flex;
    padding: 25px;
}


