.ini{
    background-image: url(../../../Assets/img/Fundo.png);
    position: relative;
    width: 100%;
    height: 750px;
}

.ini>h1{
    font-family: 'Gurajada';
    font-weight: 400;
    color: aliceblue;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row-reverse;
    padding: 50px;
}

.imagem>img{
    width: 390px;
    padding: 48px;
    display: flex;
    border-radius: 75px;
}

.seta{
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 70px;
}






