.inicio{
    background-color: black;
}

.text{
    background-color: chartreuse;
    border-radius: 25px;
    color: black;
    font-family: 'Gurajada';
    text-decoration: none;
    text-align: center;
    font-size: 19px;
    padding: 7px;
    margin-left: 25px;
}

.ola>img{
    width: 250px;
    margin-left: 495px;
}

/* .text{
    text-align: center;
    width: 75px;
    font-family: 'Gurajada';
    font-size: 20px;
    color: black;
    text-decoration: none;
    border-radius: 25%;
    background-color: chartreuse;
} */
