.inicio{
    background-color: black;
}

.text{
    text-align: center;
    width: 75px;
    font-family: 'Gurajada';
    font-size: 20px;
    color: black;
    text-decoration: none;
    border-radius: 25%;
    background-color: chartreuse;
}

.m>div{
    display: flex;
    align-items: center;
    justify-content: left;
}

.m{
    display: flex;
    justify-content: center;
}

.m>img{
    width: 19rem;
    padding: 15px;
}