.s{
    height: 670px;
    background-color: #0E3E1E;
}

.h>h1{
    display: flex;
    justify-content: center;
    color: aliceblue;
    padding: 50px;
    margin: 0 0 30px 0;
}

.i>img{
    margin-left: 65px;
}
 
.hh>h5{
    color: aliceblue;
    margin-left: 190px;
    margin-top: 25px;
}

.card{
    border-radius: 10px;
    margin: -355px 0 0 480px;
    height: 270px;
}



/* .equipe{
    border:  5px solid #23a74f;
}

.equipe>h4{
    color: aliceblue;
    margin: -450px 0 0 480px;
}



 */