.head{
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.n{
    font-family: 'Gurajada';
    padding: 30px;
}

.na{
    color: aliceblue;
    text-decoration: none;
    transition: background-color .5s;
    
}

.na:hover{
    color: #00FF46;

}



