.www{
    width: 250px !important;
    height: 250px;
    border-radius: 25px;
}

.uoi{
    padding: 15px;
    display: inline-flex;
}

.ct{
    border-radius: 25px;
    background-color: aliceblue;
    width: 250px;
}

.cta>h3,h5{
    text-align: center;
}

.cta>h5{
    font-weight: lighter;
}

.boi{
    text-decoration: none;
}

.boi>h3{
    margin: 15px;
    color: black;
    border-radius: 25px;
    background-color: #00FF46;
    width: 25%;
    text-align: center;
}
.bots{
    margin: 23px 0 10px 23px;
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
    width:  50px;
    transition: 0.5s;
}

.bots:hover{
    background-color: #00FF46;
    color: blue;
}