.cardin{
    margin: 20px;
    display: inline-block;
    justify-content: center;
    width: 27%;
    background-color:#F2F2F2;
    border-radius: 25px;
}

.cardin>img{
    padding: 20px;
}

.cardin>h1{
    margin-left: 23px;
}

.cardin>h3{
    margin-left: 23px;
}

.bots{
    margin: 23px 0 10px 23px;
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
    width: 50px;
    transition: 0.5s;
}

.bots:hover{
    background-color: #00FF46;
    color: blue;
}