
.ii{
    width: 230px !important;
    height: 230px;
    border-radius: 25px;
}

.tudo{
    padding: 19px;
    display: inline-flex;
}

.cont{
    border-radius: 25px;
    background-color: aliceblue;
    width: 230px;
}

.ill>h3,h5{
    text-align: center;
}

.ill>h5{
    font-weight: lighter;
}

.bois{
    text-decoration: none;
}

.bois>h3{
    margin: 15px;
    color: black;
    border-radius: 25px;
    background-color: #00FF46;
    width: 55%;
    text-align: center;
    margin: 13px;
}
