.ull{
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}

.eee>h1{
    text-align: center;
    margin: 15px;
}

.eii>input,label{
    display: flex;
    border-radius: 25px;
    font-family: 'Gurajada';
    font-size: 25px;
}

.cads{
    margin: 65px;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-family: 'Gurajada';
    transition: 0.5s;
    font-size: 25px;
}

.cads:hover{
    background-color: chartreuse;
    color: black;
}

